<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_login.css') }}">
    <title>Admin Login - Harmony Heights Hotel System</title>
</head>
<body>
    <div class="container">
        <img class="logo" src="{{ url_for('static', filename='images/harmony.JPG') }}" alt="Harmony Heights Hotel Logo">
        <h2>Admin Login</h2>
        <form action="/api/admin_login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>