<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmony Heights</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/api/admin_login">Login</a></li>
        </ul>
    </nav>
    <h1>Welcome to our Hotel Management System</h1>
    <p>Manage rooms, check availability, and more.</p>
</body>
</html>