<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='room.css') }}"
    />

    <title>Admin Dashboard</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand">
        <img
          class="logo"
          src="{{ url_for('static', filename='images/harmony-logo.JPG') }}"
          alt="Harmony Heights Hotel Logo"
        />
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="{{ url_for('login.admin_dashboard') }}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Make Reservation</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-shopping-bag-alt"></i>
            <span class="text">View Reservations</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-group"></i>
            <span class="text">Room Management</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-group"></i>
            <span class="text">Staff Management</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu side-menu-bottom">
        <li>
          <a href="{{ url_for('login.admin_logout') }}">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <section id="content">
      <!-- NAVBAR -->
      <nav></nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Dashboard</h1>
            <ul class="head_title">
              <li>
                <a href="#">Admin Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="{{ url_for('login.admin_dashboard') }}">Home</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="menu">
          <li>
            <a href="{{ url_for('login.admin_dashboard') }}">Reservation</a>
          </li>
          <li>
            <a class='check_in_button' href="#">Check In</a>
          </li>
          <li>
            <a href="{{ url_for('reservations.reservation_checkout') }}">Check Out</a>
          </li>
          <li class="no-link">Occupied:</li>
          <li class="no-link">Vacant:</li>
        </ul>

        <div class="guest-data">
          <div class="guest_info">
            <div class="head">
              <h3>Room Management</h3>
            </div>
            <table id="roomTable">
              <thead>
                <tr>
                  <th>Room ID</th>
                  <th>Room No.</th>
                  <th>Room Type</th>
                  <th>Price.</th>
                  <th>Status</th>
                  <th>Available Date</th>
                </tr>
              </thead>
              <tbody>
                {% for room in rooms %}
                <tr>
                  <td>{{ room.id }}</td>
                  <td>{{ room.room_number }}</td>
                  <td>{{ room.room_type }}</td>
                  <td>{{ room.room_price }}</td>
                  <td>{{ room.is_available }}</td>
                  <td id="status-{{ room.id }}"></td>
                  <td>{{ room.available_date }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </main>
    </section>
    <script>
      function fetchRooms() {
        const now = new Date();

        fetch('/api/v1/rooms/room-list')
        .then((response) => response.json())
        .then((data) => {
          const table = document.getElementById('roomTable');
          const tbody = table.querySelector('tbody');
          tbody.innerHTML = '';

          data.forEach((room) => {
            const row = tbody.insertRow();

            const idCell = row.insertCell();
            idCell.textContent = room.id;

          const numberCell = row.insertCell();
          numberCell.textContent = room.room_number;

          const typeCell = row.insertCell();
          typeCell.textContent = room.room_type;

          const priceCell = row.insertCell();
          priceCell.textContent = room.room_price;
          priceCell.setAttribute('class', 'price');

        let status = '';
        let classList = '';

        if (room.reservations.length > 0) {
          const reservation = room.reservations[0];
          const checkinDate = new Date(reservation.check_in_date);
          const checkoutDate = new Date(reservation.check_out_date);

          if (now < checkinDate) {
            status = 'Booked';
            classList = 'booked';
          } else if (now >= checkinDate && now < checkoutDate) {
            status = 'Active';
            classList = 'active';
          } else if (now >= checkoutDate) {
            status = 'Checked Out';
            classList = 'checked-out';
          }
        } else {
          status = 'Available';
          classList = 'available';
        }

        const statusCell = row.insertCell();
        statusCell.textContent = status;
        statusCell.className = classList;
        statusCell.setAttribute('id', `status-${room.id}`);

        const availableDateCell = row.insertCell();
        availableDateCell.textContent = room.available_date;
        });
      });
    }

    function fetchRoomCounts() {
      Promise.all([
        fetch('/api/v1/rooms/count?is_available=true').then(res => res.json()),
        fetch('/api/v1/rooms/count?is_available=false').then(res => res.json())
      ])
      .then(([occupied, vacant]) => {
        const occupiedElement = document.querySelector('li.no-link:nth-child(2)');
        const vacantElement = document.querySelector('li.no-link:nth-child(3)');
        occupiedElement.textContent = `Occupied: ${occupied}`;
        vacantElement.textContent = `Vacant: ${vacant}`;
      });
    }
    fetchRooms();
    fetchRoomCounts()
    setInterval(fetchRooms, 5000);
    setInterval(fetchRoomCounts, 5000);
  </script>
</body>
</html>